.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 16px;
}

.room-create a {
  color: deepskyblue;
  text-decoration: none;
  border: solid 1px lightblue;
  padding: 14px;
}
.room-create {
  font-size: 10px;
}


.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}


.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.chat-header {
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding-top: 46px;
  padding: 46px 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

